.git
.gitignore
docs
.github
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
GOVERNANCE.md
SECURITY.md
CHANGELOG.md
ROADMAP.md
LICENSE
.env
.env.example
docker-compose.yml
Dockerfile
.dockerignore
*.test
*.out
*.prof
vendor
tmp
node_modules
.nvmrc
